<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MyJavaExamples/src/com_27/collections/MAP/MAP_Basic_Ops_7.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com_27.collections.MAP.MAP_Basic_Ops_7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="if it is to be it is up to me to delegate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MyJavaExamples"/>
</launchConfiguration>
